* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    color: #252422;
}

.sidebar {
    background-color: #CCC5B9;
    
}

.main {
    background-color: #FFFCF2;
}