* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLOR PALETTE */
:root {
    --cream: #FFFCF2;
    --tan: #CCC5B9;
    --brown: #403D39;
    --dark-brown: #252422;
    --red-orange: #EB5E28;
  }

header {
    display: flex;
    flex-direction: column;
    background-color: #CCC5B9;
    padding: 20px;
    align-items: center;
}

h1 {
    padding-bottom: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #252422;
    color: white;
    width: 50%;
}

.add-book-form {
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    
}

.input-label {
    display: flex;
    flex-direction: column;
}

.add-book-input {
    padding: 15px 20px;
}

input[type="text"], input[type="number"] {
    padding: 5px 10px;
}



