* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COLOR PALETTE */
:root {
    --cream: #FFFCF2;
    --tan: #CCC5B9;
    --brown: #403D39;
    --dark-brown: #252422;
    --red-orange: #EB5E28;
  }

nav {
    display: flex;
    background-color: #CCC5B9;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


nav > button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #252422;
    color: white;
}

.add-book-container {
    display: flex;
    justify-content: center;
}

.add-book-button {
    border: none;
    background-color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}

.modal {
    padding: 10px;
    max-width: 50ch;
    min-width: 35ch;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    margin: auto;
    background-color: #CCC5B9;
    
}

.modal::backdrop {
    background-color: #CCC5B9;
    opacity: .7;
}

.close-modal-container {
    display: flex;
    justify-content: end;
}

.close-modal-button {
    background-color: #EB5E28;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

.modal-heading-container {
    display: flex;
    justify-content: center;
}

.modal-heading-container > p {
    font-size: 1.3rem;
    font-weight: bold;
}

.add-book-input {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

input[type="text"], input[type="number"] {
    padding: 5px 10px;
    border-radius: 8px;
    width: 90%;
    height: 40px;
    border: none;
}

input[type="text"]::placeholder, input[type="number"]::placeholder {
    color: #403D39;
}

input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

.submit-book-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 10px 0;
}

.submit-book-button {
    background-color: #EB5E28;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    width: 90%;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.library {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    border-radius: 8px;
    padding: 15px 0;
    margin: 10px;
}

.card-container > p {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-container > button {
    width: 70%;
    height: 17%;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

.toggle-read-button {
    background-color: #EB5E28;
    color: white;
}

.toggle-read-button:hover {
    background-color: #ed794b;
    cursor: pointer;
}

